/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    width: 62%;
    max-width: 1200px;
    min-width: 888px;
    padding: 0;
    margin: 0 auto;
  }

  .article-intro {
    font-size: 2.375rem;
  }

  .article-intro a {
    background-position: 0 2.875rem;

    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .article-paragraph {
    background-position: 0 2.375rem;
  }

  .article-intro__icon {
    width: 36px;
    height: 36px;
    margin-bottom: -8px;
  }

  .section__contact {
    padding: 24px 0 80px 0;
  }

  .button {
    font-size: 1.125rem;
    min-width: 56px;
    min-height: 56px;
  }

  .button__email {
    padding: 12px 23px 0 calc(23px + 24px);
  }

  .icon {
    border-radius: 28px;
  }

  .icon__email {
    /* margin: 4px -148px; */
    margin: 4px 0 0 -32px;
  }

  .block-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo-tile:nth-child(odd) {
    border-right: none;
  }

  .logo-tile:nth-child(3n + 1) {
    border-right: 1px solid #e1e9e9;
    border-right: 1px solid hsl(180, 17%, 90%);
  }

  .logo-tile:nth-child(3n + 2) {
    border-right: 1px solid #e1e9e9;
    border-right: 1px solid hsl(180, 17%, 90%);
  }

  .top-link {
    bottom: 64px;
    right: 50%;
    margin-right: -444px;
  }

  .footer__items {
    /* padding: 24px 0 32px 0 !imporant; */
    padding-top: 24px !important;
    padding-bottom: 32px !important;
  }

  /* DARK MODE SETTINGS */

  @media (prefers-color-scheme: dark) {

    .logo-tile:nth-child(odd) {
      border-right: none;
    }

    .logo-tile:nth-child(3n + 1) {
      border-right: 1px solid #212a2a;
      border-right: 1px solid hsl(180, 12%, 15%);
    }

    .logo-tile:nth-child(3n + 2) {
      border-right: 1px solid #212a2a;
      border-right: 1px solid hsl(180, 12%, 15%);
    }
  }
}
