/* -------- Large devices (desktops, 992px and up) -------- */

@media (min-width: 992px) {
  .wrapper {
    width: 62%;
    width: 90%;
    max-width: 1680px;
    min-width: 888px;
    padding: 0;
    margin: 0 auto;
  }

  .wrapper.wrapper--narrow.section__list--highlight {
    margin-left: calc(50% - 16px);
    transform: translateX(-50%);
  }

  .article-intro {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-extralight);
    line-height: 1.2;
    letter-spacing: -0.5px;
  }

  .article-intro.article-intro__heading {
    font-size: var(--font-size-hero-5xl);
    line-height: 1.05;
    letter-spacing: -1px;
  }
  
  .article-intro.article-intro__heading a {
    text-decoration-thickness: 5.5px;
  }

  .article-intro a {
    text-decoration-thickness: 3.5px;
  }

  .article-paragraph {
    background-position: 0 2.375rem;
  }

  .article-intro__icon {
    width: 36px;
    height: 36px;
    margin-bottom: -8px;
  }

  .emoji {
    font-size: var(--font-size-3xl);
    vertical-align: var(--space-sm);
  }

  .two-columns {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .section__contact {
    padding: var(--space-lg) 0 80px 0;
    padding: var(--space-lg) 0 calc(var(--space-md)*5) 0;
  }
 
  .text-emphasised {
    border-radius: var(--space-md);
    padding: 0 var(--space-md);
  }

  .button {
    font-size: var(--font-size-lg);
    min-width: 56px;
    min-height: 56px;
  }

  .button__email {
    padding: 12px 23px 0 calc(23px + 24px);
  }

  .icon {
    border-radius: 28px;
  }

  .icon__email {
    margin: 4px 0 0 -32px;
  }

  .block-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* .logo-tile:nth-child(odd) {
    border-right: none;
  }

  .logo-tile:nth-child(3n + 1) {
    border-right: 1px solid #e1e9e9;
    border-right: 1px solid hsl(180, 17%, 90%);
  }

  .logo-tile:nth-child(3n + 2) {
    border-right: 1px solid #e1e9e9;
    border-right: 1px solid hsl(180, 17%, 90%);
  } */

  .top-link {
    position: absolute;
    right: -8px;
    pointer-events: all;
  }

  .wrapper--top-link {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1680px;
    min-width: 888px;
    height: 100vh;
    pointer-events: none;
  }



  /* -------- DARK MODE SETTINGS -------- */

  @media (prefers-color-scheme: dark) {}
}
