/* -------- DARK MODE -------- */

:root {
  color-scheme: light dark;
}



/* -------- BASE -------- */

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

html {
  font-size: 16px;
  height: 100%;
}



/* -------- FOUNDATION -------- */

:root {

  /* Colors */

  /* Colors light mode*/
  --color-text-primary: hsl(218 15% 30%);
  --color-text-secondary: hsl(218 15% 60%);
  --color-text-tertiary: hsl(218 15% 80%);

  --color-background-base: hsl(218 35% 85%);

  --color-text-underline: hsl(73 100% 50% / 1);

  /* Colors dark mode*/

  /* Typography Styles */
  
  /* --font-fam-mono: "Source Code Pro", "Courier New", Courier, monospace; */
  --font-fam--display: Geist, "Helvetica Neue", Helvetica, sans-serif;
  --font-fam-sans: IBM Plex Sans, "Helvetica Neue", Helvetica, sans-serif;
  --font-fam-mono: "IBM Plex Mono", "Courier New", Courier, monospace;

  /* Font sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  /* --font-size-lg-1: 1.1875rem; -> Consolidate? */
  --font-size-xl: 1.25rem;
  --font-size-xl-1: 1.375rem;
  --font-size-2xl: 1.5rem;
  --font-size-2xl-1: 1.625rem; /* -> Consolidate? */
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2rem;
  --font-size-4xl-1: 2.5rem;
  --font-size-4xl-2: 2.75rem;
  --font-size-5xl: 3rem;
  --font-size-hero-lg: 4rem;
  --font-size-hero-xl: 4.5rem;
  --font-size-hero-2xl: 4.75rem; /* -> Consolidate? */
  --font-size-hero-3xl: 5rem; /* -> Consolidate? */
  --font-size-hero-4xl: 6rem; /* -> Consolidate? */
  --font-size-hero-5xl: 7rem; /* -> Consolidate? */

  /* Font weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Gneric sizes · spacing */
  --2xs: 0.125rem;
  --xs: 0.25rem;
  --xs-1: 0.375rem;
  --sm: 0.5rem;
  --sm-1: 0.75rem;
  --md: 1rem;
  --md-1: 1.25rem;
  --lg: 1.5rem;
  --xl: 2rem;
  --xl-1: 2.5rem;
  --2xl: 3rem;
  --3xl: 4rem;
  --4xl: 6rem;
  --5xl: 8rem;
  --6xl: 12rem;

  /* Animation */
  --spring-easing: 
    linear(0, 0.0012 0.32%, 0.0074 0.79%, 0.0342, 0.0776 2.7%, 0.145 3.81%, 0.29 5.72%, 0.7508 11.12%, 0.8676, 0.9673, 1.048, 1.1092, 1.1516 19.06%, 1.1663 19.86%, 1.1786, 1.1855 21.77%, 1.1877, 1.1842 23.99%, 1.1747 25.26%, 1.1625 26.37%, 1.1453 27.64%, 1.0539 33.36%, 1.0132 36.38%, 0.9952 38.13%, 0.9826 39.72%, 0.9729, 0.9671 43.21%, 0.9648 45.44%, 0.9672 47.98%, 0.9972 58.94%, 1.0029, 1.0059 65.3%, 1.0062 70.54%, 0.9992 86.27%, 0.9995 99.93%);
  --spring-duration: 1.122s;  
}

/* @keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(0.97, 0.97);
  }
  50% {
    transform: scale(1.01, 1.01);
  }
  65% {
    transform: scale(0.97, 0.97);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
  }
  15% {
    -webkit-transform: scale(0.99, 0.99); 
  }
  50% {
    -webkit-transform: scale(1.01, 1.01);
  }
  65% {
    -webkit-transform: scale(0.99, 0.99);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
} */



/* -------- Document -------- */

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 240px;
  
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-lg);
  line-height: 1.6;
  text-wrap: balance;

  color: hsl(218 15% 30%);
  /* background-color: hsl(0 0% 100%);
  /* background-color: hsl(218 11% 92%); */
  background-color: hsl(218 35% 81%);
  background-color: hsl(218 35% 85%);
  /* background-color: hsl(78 100% 69% / 0.8); */
  /* background-color: hsl(93 100% 69% ); */
  /* background-color: hsl(88 100% 69%);
  background-color: hsl(93 100% 69% );
  background-color: hsl(88 100% 69%); */
}

/* main {
  background-color: hsl(0 0% 100%);
  background-color: hsl(218 35% 85%);
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #64D348);
  background-size: 400% 400%;
  position:  relative;
  animation: change 6s ease-in-out infinite;
} */

/* @keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */

code {
  font-family: var(--font-fam-mono);
  letter-spacing: -4px;
  /* font-size: var(--font-size-sm); */
  /* font-weight: var(--font-weight-normal); */
  /* color: hsl(218 15% 20%);
  background-color: hsl(218 15% 96%);
  padding: var(--sm) var(--sm-1); */
}

mark {
  /* background-color: hsl(78 100% 69%); */
  background-color: hsl(52 100% 50% / 0.4);
  background-color: oklch(0.89 0.18 97.02);
  background-color: oklch(0.88 0.21 93.52 / 0.4);
  background-color: hsl(78 100% 70% / 0.2);
  color: hsl(78 100% 100%);
  padding: 0 var(--sm);
}

.text-italic {
  font-style: italic;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-caption--centered {
  padding: 0;
  text-align: center;
}

.text-caption--centered--link {
  padding: 0;
  text-align: center;
  text-decoration: none;
  /* background-image: linear-gradient(to bottom,hsl(218 90% 40% / 0.4) 50%,hsl(0 0% 0% / 0) 50%);
  background-repeat: repeat-x;
  background-size: 100% 0.125rem;
  background-position: 0 1.5rem; */
  /* color: hsl(218 15% 80%);
  color: hsl(218 15% 70%); */
  color: hsl(218 15% 40%);
}

.text-small {
  font-size: var(--font-size-sm);
  padding-bottom: 0.875rem;
}

.text-small a {
  /* font-size: var(--font-size-sm);
  padding: 0 var(--2xs);
  background-position: 0 1.4375rem; */

  text-decoration: underline;
  text-decoration-color: hsl(73 100% 50% / 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

.text-small a:hover {
  color: hsl(73 100% 50% / 1);
  text-decoration: none;
  /* transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px); */
}

.text--white {
  color: hsl(0 0% 100%);
}

.text--white--06 {
  color: hsl(0 0% 100%);
  color: hsl(0 0% 100% / 0.6);
}

a {
  /* color: hsl(218 25% 45%); */
  color: hsl(218 15% 20%);
  text-decoration: none;

  /* background-image: linear-gradient(to bottom, hsl(218 90% 40% / 0.4) 50%, hsl(0 0% 0% / 0) 50%);
  background-repeat: repeat-x;
  background-size: 100% 0.125rem;
  background-position: 0 1.125rem; */

  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;

  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-duration: 0.33s;
  -webkit-transition-duration: 0.33s;
  -moz-transition-duration: 0.33s;
  -o-transition-duration: 0.33s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-delay: initial;
  -webkit-transition-delay: initial;
  -moz-transition-delay: initial;
  -o-transition-delay: initial;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

a:hover {
  text-decoration: none;
  color: hsl(218 40% 52%);
  color: hsl(218 25% 55%);
  color: hsl(73 100% 50%);
  /* background-image: linear-gradient(to bottom, hsl(218 70% 62% / 0.6) 50%, hsl(0 0% 0% / 0) 50%); */
  /* transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px); */
}

p {
  padding-bottom: var(--sm-1);
}

input {
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

ul {
  color: hsl(218 15% 30%);
}

ul a {
  font-weight: var(--font-weight-medium);
  color: hsl(218 15% 20%);
  display: inline;
  background-position: 0 1.215rem;
  border-radius: var(--sm);
  text-decoration: underline;
  text-decoration-color: hsl(73 100% 50% / 0.5);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3.5px;
}

ins {
  text-decoration: none;
}

.wrapper {
  margin: 0 24px 0 24px;
  position: relative;
}

.visually-hidden {
  display: none;
}

.text-emphasized {
  /* font-size: smaller;
  font-weight: var(--font-weight-extralight); */
  display: inline;
  vertical-align: baseline;
  padding: 0 var(--sm);
  color: hsl(78 59% 38%);
  color: hsl(206 17% 39%);
}

.emphasized-container, .text-emphasized {
  position: relative;
}

.emphasized-container {
  display: inline-block;
}

/* .emphasized-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -4px;
  margin-right: -4px;
  position: absolute;
  background: hsl(78 100% 69% / 0.8);
  background: hsl(93 100% 69% / 0.8);
  background: hsl(88 100% 69% / 0.8);
  mix-blend-mode: overlay;
  transform: rotate(-2deg);
  top: 2px;
  left: 2px;
  border-radius: 0 38% 9% 50%;
  padding: 10px 3px 3px 10px;
} */

.text-highlight {
  font-weight: var(--font-weight-medium);
  color: hsl(204 80% 50%);
  color: hsl(211 100% 33%);
  color: hsl(311 100% 48%);
  color: hsl(270 100% 60%);
  color: hsl(255 100% 68%);
  color: hsl(218 45% 30%);
}



/* -------- ELEMENTS AND COMPONENTS -------- */

/* .section__list a {
  text-shadow: -1px -1px 0 #ebeff0, 1px -1px 0 #ebeff0, -1px 1px 0 #ebeff0, 1px 1px 0 #ebeff0;
} */

/* .header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
  background-color: hsl(48 100% 50%);
  background-color: hsl(218 15% 92%);
  border-bottom: 1px solid hsl(180 14% 89%);
} */

section {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  min-height: 110px;
}

section:last-of-type {
  padding-bottom: var(--3xl);
}

.title {
  margin: 27px 0 31px 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.8px;
}

.title__name {
  color: hsl(218 15% 3%);
  display: block;
}

.title__job {
  display: block;
  color: hsl(218 1% 3% / 0.4);
  mix-blend-mode: luminosity;
}

.section__list {
  padding: var(--md) 0 var(--xl) 0;
  background-color: hsl(218 15% 96%);
}

/* .section__list:first-child {
  border-top: 2px solid #ebeff0;
  border-top: 2px solid hsl(218 15% 93%);
  } */
  
.wrapper.section__list--highlight {
  background-color: hsl(218 30% 91% / 1);
  border-radius: 8px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
  
.section-header {
  margin: 16px 0 16px 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.8px;
  color: hsl(218 1% 3% / 0.4);
  mix-blend-mode: luminosity;
}

.section-header a {
  color: hsl(218 1% 3% / 0.7);
  mix-blend-mode: luminosity;
}

.section-header__sub {
  margin: 16px 0 8px 0;
  font-family: var(--font-fam-mono);
  font-weight: var(--font-weight-medium);
  color: hsl(218 15% 30%);
  color: hsl(218 15% 60%);
  color: hsl(218 1% 3% / 0.4);
  mix-blend-mode: luminosity;
}

.header, .section__about, .section__about--intro {
  position: relative;
}

/* .section__about--intro {
  position: relative;
  Background animation
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #64D348);
  background: linear-gradient(-45deg, #ee765233, #E73C7E33, #23A6D533, #64D34833);
  background-size: 400% 400%;
  animation: change 6s ease-in-out infinite;
} */

/* .section__about {
  position: relative;
  Background animation
  background: linear-gradient(-135deg, #EE7752, #E73C7E, #23A6D5, #64D348);
  background: linear-gradient(-135deg, #ee765233, #E73C7E33, #23A6D533, #64D34833);
  background-size: 400% 400%;
  animation: change 6s ease-in-out infinite;
} */

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.section__about--intro {
  padding-top: var(--lg);
  padding-bottom: 0.8125rem;
}

.article-intro.article-intro__heading {
  font-family: var(--font-fam--display);
  font-size: var(--font-size-4xl-1);
  font-weight: var(--font-weight-extrabold);
  line-height: 1.125;
  letter-spacing: -0.4px;
  padding-bottom: var(--lg);
  
  /* font-size: var(--font-size-hero-lg);
  letter-spacing: -1px;
  line-height: 1; */
}

.article-intro.article-intro__heading a {
  text-decoration: underline;
  text-decoration-color: hsl(73 100% 50% / 1);
  text-decoration-thickness: 4.5px;
  text-underline-offset: 5.5px;
}

/* .article-intro.article-intro__heading a:hover {
  color: hsl(93 100% 39%);
  color: hsl(100 100% 100%);
} */

.article-intro > .text-highlight {
  color: hsl(0 0% 100%);
  font-weight: var(--font-weight-semibold);
}

/* .article-intro .text-highlight a {
  font-weight: var(--font-weight-bold);
} */

body:has(.megahover) {
  transition: all 0.3s ease-out;
}

body:has(.megahover:hover) {
  background-color: hsl(93 100% 59%);
  /* transition-delay: 0.2s;
  transition-duration: 0.6s ease-out; */

  animation-delay: 0.5s;
  animation: change 6s ease-in-out infinite;

  /* transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
  /* width: 100%;

  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #64D348);
  background-size: 400% 400%;
  position:  relative;
  animation: change 6s ease-in-out infinite; */
}

/* @keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */

.article-intro {
  font-size: var(--font-size-2xl-1);
  line-height: 1.25;
  font-weight: var(--font-weight-light);
  /*! letter-spacing: -1px; */
  color: hsl(218 15% 30%);
  color: hsl(218 7% 46%); 
  color: hsl(218 15% 30%);
  padding: 0 0 3rem 0;
}

.article-intro strong {
  font-weight: var(--font-weight-bold);
}

.article-intro del {
  opacity: 0.6;
}

.article-intro a {
  display: inline;
  font-weight: var(--font-weight-extrabold);
  text-decoration: underline;
  text-decoration-color: hsl(73 100% 50% / 1);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 4.5px;

  /* margin: 0 0 0.0625rem 0;
  background-image: none;
  background-image: linear-gradient(to bottom,hsl(218 90% 40% / 0.4) 50%,hsl(0 0% 0% / 0) 50%);
  background-repeat: repeat-x;
  background-size: 100% 0.125rem;
  background-position: 0 2rem;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0); */
}

.article-intro .text-highlight:hover {
  text-decoration: none;
  
  text-shadow: 0 5px 0 rgba(255, 0, 255, 0.5), 0 -5px 0 rgba(0, 255, 255, 0.5);
  /* mix-blend-mode: hard-light;
  mix-blend-mode: screen; */

  /* color: hsl(218 40% 52%);
  color: hsl(218 25% 55%);
  color: hsl(93 100% 29%); */
  
  /* transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: scale(0.97, 1.01); */
  
  /* transition: all 1s ease-in; */
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  /* -webkit-animation: pulse 2s linear infinite;
	animation: pulse 4s linear infinite; */

  /* transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px); */

  /* transition-duration: 0.67s;
  -webkit-transition-duration: 0.67s;
  -moz-transition-duration: 0.67s;
  -o-transition-duration: 0.67s; */
}

.article-intro .text-highlight:active {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
}

/* .article-intro .text-highlight:focus {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  box-shadow: inset 0 0 0 1px hsl(218 30% 30% / 0.1), 0 1px 8px -2px hsl(218 60% 30% / 0.2);
} */

.article-intro__icon {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  display: inline-flex;
  vertical-align: var(--xs);
  opacity: 0.7;
}

.article-paragraph {
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  padding: 0 0 1rem 0;
}

.article-paragraph strong {
  font-weight: var(--font-weight-semibold);
}

.article-paragraph a {
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-decoration-color: hsl(73 100% 50% / 1);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 3.5px;

  padding: 0 var(--2xs);
  background-position: 0 1.4375rem;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

.article-paragraph a:hover {
  color: hsl(73 100% 50% / 1);
  text-decoration: none;
  /* transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px); */
}

.emoji {
  display: inline-flex;
  vertical-align: var(--xs-1);
  font-size: var(--font-size-sm);
  opacity: 0.7;
}

.section__contact {
  padding: 0 0 var(--3xl) 0;
}

.button {
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-md);
  min-width: 48px;
  min-height: 48px;
  background-image: none;
  cursor: pointer;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

.ease-spring {
  animation-timing-function: var(--spring-easing);
}

.ease-duration {
  animation-duration: var(--spring-duration);
  transition-duration: var(--spring-duration);
}

.transition-transform {
  transition-property: transform;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  
  transition-duration: 0.33s;
  -webkit-transition-duration: 0.33s;
  -moz-transition-duration: 0.33s;
  -o-transition-duration: 0.33s;

  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-delay: initial;
  -webkit-transition-delay: initial;
  -moz-transition-delay: initial;
  -o-transition-delay: initial;
}

a.button:hover {
  box-shadow: 0 8px 16px hsl(209 38% 43% / 0.1), 0 3px 6px hsl(209 18% 23% / 0.08);
  background-image: none;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px);
}

a.button:active {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
}

a.button:focus {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
}

.layout-button--left {
  float: left;
  margin-right: 8px;
}

.layout-button--middle {
  margin-left: 8px;
  margin-right: 8px;
}

.layout-button--right {
  margin-left: 8px;
}

.button__email {
  display: inline-block;
  height: 48px;
  padding: 9px 23px 0 calc(23px + 24px);
  color: hsl(0 0% 100%);

  background-color: hsl(218 60% 30%);
  border: 1px solid hsl(218 60% 30%);

  border-radius: 6px;
  -webkit-border-radius: 6px;

  transform: translateX(0) rotate(0deg);
  -webkit-transform: translateX(0) rotate(0deg);
  -moz-transform: translateX(0) rotate(0deg);
  -o-transform: translateX(0) rotate(0deg);
}

.icon__email {
  background: url(../img/icon-hellohand.png) no-repeat;
  background: url(../img/icon-hellohand.svg) no-repeat;
  position: absolute;
  margin: 3px 0 0 -32px;
  width: 19px;
  height: 19px;
  padding: 0;

  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -webkit-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -moz-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -o-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);

  transition-delay: initial;
  -webkit-transition-delay: initial;
  -moz-transition-delay: initial;
  -o-transition-delay: initial;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

a.button__email:hover .icon__email {
  transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -webkit-transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -moz-transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -o-transform: translateX(-1px) rotate(-15deg) scale(1.3);
}
  
a.button__email:hover {
  color: hsl(0 0% 100%);
  background-color: hsl(218 90% 40%);
  border: 1px solid hsl(218 90% 40%);
  box-shadow: 0 9px 16px -6px hsl(218 60% 42% / 0.3), 0 5px 6px -3px hsl(218 60% 42% / 0.4);
}

a.button__email:active {
  background-color: hsl(218 100% 20%);
  border: 1px solid hsl(218 100% 20%);
}

.icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: none;
  border-radius: 24px;
  background-color: hsl(209 8% 54% / 0.8);
  background-color: hsl(209 18% 23% / 0.8);
  cursor: pointer;
}

a.icon__twitter {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-size: auto;
  background-color: hsl(203 59% 53% / 0.8);
}

a.icon__twitter:hover {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-color: hsl(203 89% 53%);
  box-shadow: 0 9px 16px -6px hsl(203 69% 53% / 0.3), 0 5px 6px -3px hsl(203 69% 53% / 0.4);
}

a.icon__twitter:active {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-color: hsl(203 89% 38%);
}

a.icon__linkedin {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-size: auto;
  background-color: hsl(201 70% 35% / 0.8);
}

a.icon__linkedin:hover {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-color: hsl(201 100% 35%);
  box-shadow: 0 9px 16px -6px hsl(201 70% 35% / 0.3), 0 5px 6px -3px hsl(201 70% 35% / 0.4);
}

a.icon__linkedin:active {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-color: hsl(201 100% 20%);
}

.section__clients {
  padding-top: 16px;

  border-top: 2px solid #ebeff0;
  border-top: 2px solid hsl(218 15% 93%);
}

/* .section__services {} */

/* .section__means {} */

/* .section__industries {} */

/* .section__products {} */

.list__clients {
  list-style: none;
}

.block-grid {
  display: grid;
  padding: 0 0 var(--3xl) 0;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1px;
}

.logo-tile {
  padding: var(--xl);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow:0 0 0 1px hsl(218 12% 15% / 0.6);
  box-shadow:0 0 0 1px hsl(218 15% 85%);
}

.logo-tile:hover {
  background-color: hsl(218 35% 85% / 0.1);
  box-shadow:0 0 0 1px hsl(218 15% 55%);
  mix-blend-mode: darken;
}

.logo-tile a {
  background-image: none;
  text-decoration: none;
}

.logo-tile:last-child {
  border-bottom: none;
}

.logo-tile img {
  max-width: 100%;
  height: auto;
  padding-bottom: var(--md);
}

.logo-tile__item {
  grid-column: 1;
  grid-row: 1;
  min-height: 72px;
  justify-content: flex-end;
  align-items: center;
}

.logo-tile__image {
  margin-bottom: 16px;
}

.logo-tile__image--high {
  margin-bottom: 8px;
}

.logo-tile__image-fill {  
  fill: hsl(218 15% 40% / 1);
}

.logo-svg__background {
  fill: hsl(218 15% 40% / 1);
}

.logo-svg__background-gradient {
  fill: hsl(218 15% 40% / 1); 
}

.logo-svg__foreground-inverted {
  fill: hsl(0 0% 100%);
}

.logo-svg__foreground {
  fill: hsl(0 0% 100%);
}

.list--secondary {
  margin: var(--sm) 0 var(--lg) 0;
  list-style: none;
  padding: 0;
  font-family: var(--font-fam-sans);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.4px;

  border-left: 4px solid #ebf0f0;
  border-left: 4px solid hsl(218 17% 90%);
}

.list__border-left {
  border-left: 4px solid hsl(218 17% 90%);
  padding: 0 0 0 var(--md);
}

/* .list__clients {} */

/* .list--secondary {} */

.top-link {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 24px;
  right: 16px;
  text-align: center;
  
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: hsl(0 0% 100%);
  border: 1px solid hsl(218 15% 90% / 1);
  box-shadow: 0 9px 16px -5px hsl(0 0% 42% / 0.2), 0 5px 6px -2px hsl(0 0% 42% / 0.3);
  background-image: none;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

.top-link:hover .top-link__icon {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  opacity: 0.8;
}

.top-link:hover {
  background-image: none;
  box-shadow: 0 10px 24px -6px hsl(0 0% 42% / 0.4), 0 6px 14px -3px hsl(0 0% 42% / 0.5);
}

.top-link__icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url(../img/icon-arrow--top.png) no-repeat;
  background: url(../img/icon-arrow--top.svg) no-repeat;
  background-position: center center;
  padding-top: 49px;
  opacity: 0.4;
}

/* .top-link__icon:hover {
  transform: translateY(-1px);
  opacity: 0.8;
} */

.footer {
  /* margin-top: 48px; */
  padding: var(--lg) 0 var(--xl) 0;

  background-color: hsl(218 15% 96%);
  border-top: 2px solid hsl(180 14% 93%);

  background-color: hsl(218 11% 92%);
  border-top: 2px solid hsl(218 14% 89%);
}

.footer__items {
  margin: 0;
}

.footer__item {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-sm);
  color: hsl(0 0% 50%);
  color: hsl(218 15% 30%);
  color: hsl(218 15% 50% / 1);

  display: block;
}

.footer__item .small-icon {
  font-size: var(--font-size-md);
}



/* -------- SETTINGS - DARK MODE -------- */

@media (prefers-color-scheme: dark) {

  /* -------- BASE - DARK MODE -------- */

  body {
    color: hsl(218 15% 80% / 1);
    color: hsl(255 15% 84% / 1);
    background-color: hsl(218 15% 5%);
    background-color: hsl(245 15% 25%);
    background-color: hsl(245 15% 14%);
    background-color: hsl(218 15% 14%);
  }

  /* main {
    background-color: hsl(218 15% 5%);
    background: linear-gradient(-45deg, hsl(17 85% 63%), hsl(333 80% 57%), hsl(200 71% 49%), hsl(101 62% 55%));
    background-size: 400% 400%;
    position: relative;
    animation: change 6s ease-in-out infinite;
  } */

  a {
    /* color: hsl(315 100% 70%); */
    /* color: hsl(88 100% 38%); */
    color: hsl(100 100% 100%);
  }

  a:hover {
    color: hsl(73 100% 50%);
  }

  ul {
    color: hsl(218 15% 80%);
  }

  ul a {
    color: hsl(218 15% 80%);
  }

  .text-highlight {
    /* color: hsl(311 100% 48%); */
    /* color: hsl(315 100% 70%); */
    color: hsl(100 100% 100%);
  }



  /* -------- ELEMENTS AND COMPONENTS - DARK MODE -------- */

  /* .header:before {
    background-color: hsl(218 15% 12%);
    border-bottom: 1px solid hsl(180 14% 14%);
  } */

  .title__name {
    color: hsl(218 15% 80% / 1);
    display: block;
  }
  
  .title__job {
    color: hsl(218 15% 40% / 1);
    display: block;
  }

  .text-emphasized {
    color: hsl(0 0% 0%);
    color: hsl(218 15% 90%);
  }

  /* .emphasized-container:before {
    background: hsl(78 100% 69% / 0.8);
    background: hsl(93 100% 69% / 0.8);
    background: hsl(88 100% 69% / 0.8);
    background: hsl(88 100% 69%);
    mix-blend-mode: soft-light;
  } */
  
  .article-intro {
    color: hsl(218 15% 80% / 1);
  }
  
  .article-intro a:hover {
    color: hsl(48 100% 50%);
    color: hsl(73 100% 50%);
    color: hsl(73 100% 50%);  
  }
  
  /* .article-intro .text-highlight:hover {
  color: hsl(73 100% 50%);
  } */
  
  .article-intro.article-intro__heading .text-highlight:hover {
    color: hsl(93 100% 39%);
  }
  
  body:has(.megahover:hover) {
    /* background-color: hsl(93 100% 59%); */
    width: 100%;
  
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #64D348);
    background-size: 400% 400%;
    position:  relative;

    /* transition-delay: 0.2s; */
    /* animation-delay: 0.5s;
    animation: change 6s ease-in-out infinite; */
    mix-blend-mode: multiply;
    mix-blend-mode: color-dodge;
    /* mix-blend-mode:lighten; */
    /* mix-blend-mode:screen; */
    /* mix-blend-mode: normal; */
  }

  .button__email {
    background-color: hsl(218 90% 40%);
    border: 1px solid hsl(218 90% 40%);
  }

  a.button__email:hover {
    background-color: hsl(218 90% 35%);
    border: 1px solid hsl(218 90% 35%);
  }
  
  a.button__email:active {
    background-color: hsl(218 90% 40%);
    border: 1px solid hsl(218 90% 40%);
  }

  a.icon__twitter {
    background-color: hsl(203 89% 53%);
  }
  
  a.icon__twitter:hover {
    background-color: hsl(203 99% 43%);
  }
  
  a.icon__twitter:active {
    background-color: hsl(203 89% 53%);
  }
  
  a.icon__linkedin {
    background-color: hsl(201 70% 35%);
  }
  
  a.icon__linkedin:hover {
    background-color: hsl(201 100% 30%);
  }
  
  a.icon__linkedin:active {
    background-color: hsl(201 70% 35% / 0.8);
  }

  .section-header {
    color: hsl(218 15% 40%);
  }

  .section-header a {
    color: hsl(218 15% 60%);
  }
  
  .section-header__sub {
    color: hsl(218 15% 40%);
  }

  .section__list {
    background-color: hsl(218 20% 9%);
  }

  .wrapper.section__list--highlight {
    background-color: hsl(218 30% 15% / 1);
  }

  .section__clients {
    border-top: 1.5px solid hsl(218 15% 16%);
  }

  .logo-tile {
    box-shadow: 0 0 0 1px hsl(218, 15%, 15%);
  }

  .logo-tile:hover {
    background-color: hsl(218 20% 5%);
    mix-blend-mode: lighten;
  }

  .logo-tile__image-fill {
    fill: hsl(218 15% 80% / 1);
    fill: hsl(218 15% 100% / 1);
  }

  .logo-svg__background {
    fill: hsl(0 0% 100%);
  }

  .logo-svg__background-gradient {
    fill: hsl(0 0% 100%);
  }

  .logo-svg__foreground-inverted {
    fill: hsl(0 0% 0%);
  }

  .logo-svg__foreground {
    fill: hsl(0 0% 0%);
  }

  /* .logo-netbreeze__name {}

  .logo-netbreeze__gradient {}

  .logo-netbreeze__initial {} */

  .list--secondary  {
    border-left: 4px solid hsl(218 17% 15%);
  }

  .list__border-left {
    border-left: 4px solid hsl(218 17% 15%);
  }

  .footer {
    background-color: hsl(218 15% 12%);
    border-top: 2px solid hsl(218 15% 14%);
  }
}