/* -------- DARK MODE -------- */

:root {
  color-scheme: light dark;
}



/* -------- BASE -------- */

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

html {  
  font-size: 16px;
  height: 100%;
}



/* -------- FOUNDATION -------- */

:root {

  /* -- Color Primitives -- */
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);

  /* -- Colors - Greenyellow -- */
  --color-greenyellow-50: oklch(98.60% 0.0310 122.61);
  --color-greenyellow-100: oklch(97.41% 0.0746 123.17);
  --color-greenyellow-200: oklch(95.20% 0.1424 125.17);
  --color-greenyellow-300: oklch(92.49% 0.2251 128.32); /* Highlight on darker */
  --color-greenyellow-300-rgb: 185, 255, 59;
  --color-greenyellow-400: oklch(88.10% 0.2788 130.70);
  --color-greenyellow-500: oklch(80.16% 0.2645 132.88); /* Highlight, Background light */
  --color-greenyellow-500-rgb: 120, 221, 0;
  --color-greenyellow-600: oklch(67.48% 0.2257 133.67);
  --color-greenyellow-700: oklch(55.20% 0.1774 133.44);
  --color-greenyellow-800: oklch(46.63% 0.1376 132.78);
  --color-greenyellow-800-rgb: 57, 105, 0;
  --color-greenyellow-900: oklch(41.17% 0.1078 132.91);
  --color-greenyellow-900-rgb: 50, 86, 12;
  --color-greenyellow-950: oklch(27.40% 0.0720 133.96);

  /* -- Colors - Coolgrey -- */
  --color-coolgrey-50: oklch(98.40% 0.0030 252.75);
  --color-coolgrey-100: oklch(96.83% 0.0093 252.79);
  --color-coolgrey-200: oklch(92.97% 0.0175 260.40);
  --color-coolgrey-300: oklch(87.00% 0.0288 257.79); /* Background light */
  --color-coolgrey-300-rgb: 201, 213, 232;
  --color-coolgrey-400: oklch(70.49% 0.0458 261.68);
  --color-coolgrey-500: oklch(55.47% 0.0509 262.31);
  --color-coolgrey-500-rgb: 99, 115, 145;
  --color-coolgrey-600: oklch(44.66% 0.0469 262.18);
  --color-coolgrey-700: oklch(37.24% 0.0469 262.18);
  --color-coolgrey-800: oklch(27.93% 0.0429 264.93); /* Background dark */
  --color-coolgrey-900: oklch(20.81% 0.0430 270.65);
  --color-coolgrey-950: oklch(12.90% 0.0420 269.59);
  
  /* -- Colors - Components -- */
  --button-email: oklch(0.38 0.1066 260.52);
  --button-email-hover: oklch(0.38 0.1566 260.52);
  --dark-button-email-hover: oklch(0.42 0.1566 260.52);

  --button-twitter: oklch(0.68 0.16 243.36);
  --button-twitter-hover: oklch(0.60 0.1969 243.36);
  --dark-button-twitter-hover: oklch(0.72 0.1969 243.36);
  
  --button-linkedin: oklch(0.52 0.1632 254.70);
  --button-linkedin-hover: oklch(0.44 0.2165 254.7);
  --dark-button-linkedin-hover: oklch(0.56 0.2165 254.7);

  /* -- Colors light mode -- */
  --text-stark: var(--color-coolgrey-950);
  --text-base: var(--color-coolgrey-800);
  --text-700: var(--color-coolgrey-700);
  --text-600: var(--color-coolgrey-600);
  --text-500: var(--color-coolgrey-500);
  --text-400: var(--color-coolgrey-400);
  --text-300: var(--color-coolgrey-300);
  --text-200: var(--color-coolgrey-200);
  --text-100: var(--color-coolgrey-100);
  --text-underline-bright: var(--color-greenyellow-300);
  --text-underline: var(--color-greenyellow-500);
  --text-highlight: var(--color-white);
  --text-mark-bright: var(--color-greenyellow-300-rgb);
  --text-mark: var(--color-greenyellow-500-rgb);
  --background-base: var(--color-coolgrey-300);
  
  /* -- Colors dark mode -- */
  --dark-text-xstark: var(--color-white);
  --dark-text-stark: var(--color-coolgrey-50);
  --dark-text-base: var(--color-coolgrey-200);
  --dark-text-300: var(--color-coolgrey-300);
  --dark-text-400: var(--color-coolgrey-400);
  --dark-text-500: var(--color-coolgrey-500);
  --dark-text-underline: var(--color-greenyellow-300);
  --dark-text-highlight: var(--color-white);
  --dark-text-mark: var(--color-greenyellow-300-rgb);
  --dark-background-base: var(--color-coolgrey-800);

  /* -- Primitives - Opacity -- */
  --opacity-03: 0.03;
  --opacity-05: 0.05;
  --opacity-10: 0.10;
  --opacity-20: 0.20;
  --opacity-30: 0.30;
  --opacity-40: 0.40;
  --opacity-50: 0.50;
  


  /* -- Typography Styles -- */
  
  --font-fam--display: Geist, "Helvetica Neue", Helvetica, sans-serif;
  --font-fam-sans: IBM Plex Sans, "Helvetica Neue", Helvetica, sans-serif;
  --font-fam-mono: "IBM Plex Mono", "Courier New", Courier, monospace;

  /* -- Font sizes -- */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xl-1: 1.375rem; /* -> Consolidate? */
  --font-size-2xl: 1.5rem;
  --font-size-2xl-1: 1.625rem; /* -> Consolidate? */
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2rem;
  --font-size-4xl-1: 2.5rem; /* -> Consolidate? */
  --font-size-4xl-2: 2.75rem; /* -> Consolidate? */
  --font-size-5xl: 3rem;
  --font-size-5xl-1: 3.5rem; /* -> Consolidate? */
  --font-size-hero-lg: 4rem;
  --font-size-hero-xl: 4.5rem; /* -> Consolidate? */
  --font-size-hero-2xl: 4.75rem; /* -> Consolidate? */
  --font-size-hero-4xl: 6rem;
  --font-size-hero-5xl: 7rem;

  /* -- Font weight -- */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* -- Gneric sizes · spacing -- */
  --space-2xs: 0.125rem;
  --space-xs: 0.25rem;
  --space-xs-1: 0.375rem;
  --space-sm: 0.5rem;
  --space-sm-1: 0.75rem;
  --space-md: 1rem;
  --space-md-1: 1.25rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xl-1: 2.5rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 6rem;
  --space-5xl: 8rem;
  --space-6xl: 12rem;

  /* -- Animation -- */
  --spring-easing: linear(0, 0.0012 0.32%, 0.0074 0.79%, 0.0342, 0.0776 2.7%, 0.145 3.81%, 0.29 5.72%, 0.7508 11.12%, 0.8676, 0.9673, 1.048, 1.1092, 1.1516 19.06%, 1.1663 19.86%, 1.1786, 1.1855 21.77%, 1.1877, 1.1842 23.99%, 1.1747 25.26%, 1.1625 26.37%, 1.1453 27.64%, 1.0539 33.36%, 1.0132 36.38%, 0.9952 38.13%, 0.9826 39.72%, 0.9729, 0.9671 43.21%, 0.9648 45.44%, 0.9672 47.98%, 0.9972 58.94%, 1.0029, 1.0059 65.3%, 1.0062 70.54%, 0.9992 86.27%, 0.9995 99.93%);
  
  --spring-easing-bounce: linear(0, 0.0017 0.57%, 0.008 1.25%, 0.0303 2.49%, 0.0681 3.86%, 0.1214 5.33%, 0.2428 8.05%, 0.5172 13.5%, 0.6364, 0.7437, 0.8362 20.98%, 0.9094 23.36%, 0.9705 25.86%, 0.9953, 1.0164 28.35%, 1.0356, 1.051 31.07%, 1.0671, 1.0773 34.93%, 1.0826 36.97%, 1.0832, 1.0797 41.51%, 1.0717 44.23%, 1.0328 53.75%, 1.0176 58.06%, 1.0067 62.15%, 0.9992 66.34%, 0.9945 71.22%, 0.993 76.89%, 0.9993 99.91%);
  
  --spring-easing-bounce-1: linear(0, 0.0027, 0.0106, 0.0233, 0.0405 1.62%, 0.0921 2.51%, 0.1663 3.46%, 0.3306 5.16%, 0.6897 8.4%, 0.829 9.73%, 0.9572 11.09%, 1.0604, 1.1436 13.67%, 1.1765 14.3%, 1.2059 14.96%, 1.2287 15.59%, 1.2476, 1.2613, 1.2702 17.58%, 1.2749 18.39%, 1.2732 19.24%, 1.2651 20.12%, 1.25, 1.2297 22.04%, 1.2033 23.07%, 1.0577 27.93%, 1.023 29.22%, 0.9952 30.4%, 0.9679 31.8%, 0.9478, 0.9341 34.53%, 0.9263 35.97%, 0.9245, 0.9247 37.74%, 0.9312 39.65%, 0.9443 41.68%, 0.9837 46.47%, 1.0006 48.86%, 1.0137, 1.02 54.24%, 1.0208 56.12%, 1.019 58.19%, 1.0001 67.29%, 0.9947 72.37%, 0.9948 76.8%, 1.0012 89.47%, 1.0007 99.98%);

  --scale-active: scale(0.998) translateY(1px);
  --scale-active--elevated: scale(0.98) translateY(3px);
  --scale-active--tile: scale(0.96) translateY(3px);

  --spring-duration: 1.122s;
  --spring-duration: 1.328s;
  --spring-duration: 2.330s;
}

/* @keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(0.97, 0.97);
  }
  50% {
    transform: scale(1.01, 1.01);
  }
  65% {
    transform: scale(0.97, 0.97);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
  }
  15% {
    -webkit-transform: scale(0.99, 0.99); 
  }
  50% {
    -webkit-transform: scale(1.01, 1.01);
  }
  65% {
    -webkit-transform: scale(0.99, 0.99);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
} */

/* @keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */

.ease-spring {
  animation-timing-function: var(--spring-easing);
}



/* -------- Document -------- */

body,
body:has(.megahover) {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 240px;
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-lg);
  line-height: 1.6;
  text-wrap-style: pretty;
  color: var(--color-base);
  background-color: var(--background-base);
  /* background-color: oklch(92.00% 0.0100 208.00); */
  /* background-color: oklch(90.00% 0.0030 168.00); */
  /* animation-delay: 0.5s; */
  /* animation: change 6s ease-in-out 0.5s infinite; */
  /* animation: change 6s ease-in-out infinite; */
  /* transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860); */
  /* transition: all 1600ms cubic-bezier(0.785, 0.135, 0.150, 0.860); */
  /* transition: all 0.3s ease-out 0.5s; */
  transition: all 1600ms ease;
}

body:has(.megahover:hover) {
  background-color: rgba(255, 255 55, 1.61);
  backdrop-filter: blur(5px);
  /* opacity: 0.5; */
  /* background-color: var(--color-greenyellow-400);
  mix-blend-mode: multiply; */
  /* width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #64D348);
  background-size: 400% 400%;
  position:  relative; */
}

code {
  font-family: var(--font-fam-mono);
  letter-spacing: -4px;
}

mark {
  color: var(--text-stark);
  background-color: rgba(var(--text-mark-bright), 0.2);
  padding: 0 var(--space-xs);
}

.text-italic {
  font-style: italic;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-caption--centered {
  padding: 0;
  text-align: center;
}

.text-caption--centered--link {
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: rgba(var(--color-coolgrey-500-rgb), 0.75);
}

.text-small {
  font-size: var(--font-size-md);
  padding-bottom: 0.75em;
}

.text-small a {
  text-decoration: underline;
  text-decoration-color: var(--text-underline);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.15em;
}

.text-small a:hover {
  background-color: var(--color-greenyellow-300);
  text-decoration-color: transparent;
}

.text-small a:active {
  transform: var(--scale-active);
}

.text-light {
  font-weight: var(--font-weight-light);
}

.text--white {
  color: var(--color-white)
}

a {
  color: var(--text-base);
  text-decoration: none;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

a:hover {
  text-decoration: none;
  background-color: var(--color-greenyellow-300);
  background-color: rgba(var(--color-greenyellow-500-rgb), 0.4);
  text-decoration-color: transparent;
}

p {
  padding-bottom: var(--sm-1);
}

input {
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

ul {
  color: var(--text-700);
}

ul a {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  color: var(--text-base);
  text-decoration: underline;
  text-decoration-color: var(--text-underline);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.2em;
  transition: all 800ms var(--spring-easing-bounce);
}

ul a:active {
  transform: var(--scale-active);
  -webkit-transform: var(--scale-active);
  -moz-transform: var(--scale-active);
  -o-transform: var(--scale-active);
}

ins {
  text-decoration: none;
}

.wrapper {
  margin: 0 24px 0 24px;
  position: relative;
}

.visually-hidden {
  display: none;
}

.text-highlight {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  color: var(--text-base);
}



/* -------- ELEMENTS AND COMPONENTS -------- */

/* .header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
  background-color: hsl(48 100% 50%);
  background-color: hsl(218 15% 92%);
  border-bottom: 1px solid hsl(180 14% 89%);
} */

section {
  min-height: 110px;
}

section:last-of-type {
  padding-bottom: var(--space-3xl);
}

.title {
  margin: 27px 0 31px 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.8px;
}

.title__name {
  color: var(--text-base);
  display: block;
}

.title__job {
  display: block;
  color: var(--text-400);
  mix-blend-mode: luminosity;
}

.section__list {
  padding: var(--space-md) 0 var(--space-xl) 0;
  background-color: var(--color-coolgrey-100);
}

/* .section__list:first-child {
  border-top: 2px solid #ebeff0;
  border-top: 2px solid var(--color-coolgrey-200);
  } */
  
.wrapper.section__list--highlight {
  border-radius: var(--space-sm);
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-image: linear-gradient(165deg, rgba(var(--color-coolgrey-300-rgb), 0.25), rgba(var(--color-coolgrey-300-rgb), 0));
}

.section-header {
  margin: 16px 0 16px 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  letter-spacing: 0.8px;
  color: var(--text-500);
  mix-blend-mode: luminosity;
}

.section-header a {
  color: var(--text-500);
  mix-blend-mode: luminosity;
  background: none;
}

.section-header__sub {
  margin: 16px 0 8px 0;
  font-weight: var(--font-weight-normal);
  color: var(--text-400);
}

.header, .section__about, .section__about--intro {
  position: relative;
}

.section__about--intro {
  padding-top: var(--space-lg);
  padding-bottom: 0.8125rem;
}

.article-intro {
  font-size: var(--font-size-2xl-1);
  line-height: 1.25;
  font-weight: var(--font-weight-light);
  color: var(--text-base);
  padding: 0 0 3rem 0;
}

.article-intro strong {
  font-weight: var(--font-weight-bold);
}

.article-intro del {
  opacity: 0.6;
}

.article-intro a {
  display: inline-block;
  font-weight: var(--font-weight-extrabold);
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--text-underline-bright);
  text-shadow: 0 0 0 transparent;
  transition: all 800ms var(--spring-easing-bounce);
}

.article-intro a:hover {
  background: none;
  text-decoration: transparent;
  text-decoration-color: var(--color-white);
  
  /* CMYK vintage 3D glasses effect */
  mix-blend-mode: multiply;
  text-shadow: 0 0 0 rgba(255 255 0 / 0.9), 0.07em 0 0 rgba(255 0 255 / 0.4), -0.07em 0 0 rgba(0 255 255 / 0.5);
}

.article-intro a:active {
  transform: var(--scale-active);
  -webkit-transform: var(--scale-active);
  -moz-transform: var(--scale-active);
  -o-transform: var(--scale-active);
}

/* .article-intro a:focus {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  box-shadow: inset 0 0 0 1px hsl(218 30% 30% / 0.1), 0 1px 8px -2px var(--button-email) / 0.2);
} */

.article-intro__icon {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  display: inline-flex;
  vertical-align: var(--space-xs);
  opacity: 0.7;
}

.article-intro.article-intro__heading {
  font-family: var(--font-fam--display);
  font-size: var(--font-size-5xl-1);
  font-weight: var(--font-weight-extrabold);
  line-height: 1.125;
  letter-spacing: -0.4px;
  color: rgba(var(--color-coolgrey-500-rgb), 0.62);
  padding-bottom: var(--space-lg);
}

.article-intro.article-intro__heading a {
  text-decoration-thickness: 4.5px;
  font-weight: var(--font-weight-extrabold);
}

.article-intro > .text-highlight {
  color: var(--text-base);
  font-weight: var(--font-weight-semibold);
}

.article-paragraph {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  padding-bottom: 0.75em;
}

.article-paragraph strong {
  font-weight: var(--font-weight-semibold);
}

.article-paragraph a {
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-decoration-color: var(--text-underline-bright);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.15em;
  padding: 0 var(--space-2xs);
  transition: all 800ms var(--spring-easing-bounce);
}

.article-paragraph a:hover {
  text-decoration: none;
  text-decoration-color: var(--text-underline-bright);
  background-color: var(--color-greenyellow-300);
}

.article-paragraph a:active {
  transform: scale(0.98) translateY(1px);
  -webkit-transform: scale(0.98) translateY(1px);
  -moz-transform: scale(0.98) translateY(1px);
  -o-transform: scale(0.98) translateY(1px);
}

.emoji {
  display: inline-flex;
  vertical-align: var(--space-xs-1);
  font-size: var(--font-size-sm);
  opacity: 0.7;
}

.section__contact {
  padding: 0 0 var(--space-3xl) 0;
}

.button {
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-md);
  min-width: 48px;
  min-height: 48px;
  background-image: none;
  cursor: pointer;
  transition: all 800ms var(--spring-easing-bounce);
}

a.button:hover {
  box-shadow: 0 8px 16px hsl(209 38% 43% / 0.1), 0 3px 6px hsl(209 18% 23% / 0.08);
  background-image: none;
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px);
}

a.button:active {
  transform: var(--scale-active);
  -webkit-transform: var(--scale-active);
  -moz-transform: var(--scale-active);
  -o-transform: var(--scale-active);
}

a.button:focus {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
}

.layout-button--left {
  float: left;
  margin-right: 8px;
}

.layout-button--middle {
  margin-left: 8px;
  margin-right: 8px;
}

.layout-button--right {
  margin-left: 8px;
}

.button__email {
  display: inline-block;
  height: 48px;
  padding: 9px 23px 0 calc(23px + 24px);
  color: var(--color-white);

  background-color: var(--button-email);
  border: 1px solid var(--button-email);

  border-radius: 6px;
  -webkit-border-radius: 6px;

  transform: translateX(0) rotate(0deg);
  -webkit-transform: translateX(0) rotate(0deg);
  -moz-transform: translateX(0) rotate(0deg);
  -o-transform: translateX(0) rotate(0deg);
}

.icon__email {
  background: url(../img/icon-hellohand.png) no-repeat;
  background: url(../img/icon-hellohand.svg) no-repeat;
  position: absolute;
  margin: 3px 0 0 -32px;
  width: 19px;
  height: 19px;
  padding: 0;

  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;

  transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -webkit-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -moz-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);
  -o-transition-timing-function: linear(0, 0.58 5.2%, 0.998 10.8%, 1.272 17%, 1.357 20.4%, 1.41 24%, 1.428 26.5%, 1.433 29.2%, 1.425 32.1%, 1.406 35.2%, 1.351 40.8%, 1.143 58.4%, 1.088 64.5%, 1.048 70.5%, 1.024 76.2%, 1.008 82.5%, 1);

  transition-delay: initial;
  -webkit-transition-delay: initial;
  -moz-transition-delay: initial;
  -o-transition-delay: initial;

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}

a.button__email:hover .icon__email {
  transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -webkit-transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -moz-transform: translateX(-1px) rotate(-15deg) scale(1.3);
  -o-transform: translateX(-1px) rotate(-15deg) scale(1.3);
}
  
a.button__email:hover {
  color: var(--color-white);
  background-color: var(--button-email-hover);
  border: 1px solid var(--button-email-hover);
  box-shadow: 0 9px 16px -6px hsl(218 60% 42% / 0.3), 0 5px 6px -3px hsl(218 60% 42% / 0.4);
}

a.button__email:active {
  background-color: var(--button-email-hover);
  border: 1px solid var(--button-email-hover);
}

.icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: none;
  border-radius: 24px;
  background-color: hsl(209 8% 54% / 0.8);
  background-color: hsl(209 18% 23% / 0.8);
  cursor: pointer;
}

a.icon__twitter {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-size: auto;
  background-color: var(--button-twitter);
}

a.icon__twitter:hover {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-color: var(--button-twitter-hover);
  box-shadow: 0 9px 16px -6px hsl(203 69% 53% / 0.3), 0 5px 6px -3px hsl(203 69% 53% / 0.4);
}

a.icon__twitter:active {
  background: url(../img/icon-twitter.png) no-repeat center center;
  background: url(../img/icon-twitter.svg) no-repeat center center;
  background-color: var(--button-twitter-hover);
}

a.icon__linkedin {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-size: auto;
  background-color: var(--button-linkedin);
}

a.icon__linkedin:hover {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-color: var(--button-linkedin-hover);
  box-shadow: 0 9px 16px -6px hsl(201 70% 35% / 0.3), 0 5px 6px -3px hsl(201 70% 35% / 0.4);
}

a.icon__linkedin:active {
  background: url(../img/icon-linkedin.png) no-repeat center center;
  background: url(../img/icon-linkedin.svg) no-repeat center center;
  background-color: var(--button-linkedin-hover);
}

.section__clients {
  padding-top: 16px;
}

/* .section__services {} */

/* .section__means {} */

/* .section__industries {} */

/* .section__products {} */

.list__clients {
  list-style: none;
}

.block-grid {
  display: grid;
  padding: 0 0 var(--space-3xl) 0;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1px;
}

.block-grid a,
.block-grid a:hover {
  background: none;
}

.logo-tile {
  padding: 0;
  display: grid;
  align-items: end;
  justify-content: center;
  text-align: center;
  box-shadow:0 0 0 1px var(--color-coolgrey-300);
  transition: all 800ms var(--spring-easing-bounce);
}

.logo-tile:hover {
  background-color: rgba(var(--color-coolgrey-300-rgb), 0.1);
  box-shadow:0 0 0 1px rgba(var(--color-coolgrey-500-rgb), 0.3);
  mix-blend-mode: darken;
}

.logo-tile:active {
  transform: var(--scale-active--tile);
  -webkit-transform: var(--scale-active--tile);
  -moz-transform: var(--scale-active--tile);
  -o-transform: var(--scale-active--tile);
}

.logo-tile a {
  background-image: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.logo-tile:last-child {
  border-bottom: none;
}

.logo-tile img {
  max-width: 100%;
  height: auto;
  padding-bottom: var(--space-md);
}

.logo-tile__item {
  padding: var(--space-xl);
  grid-column: var(--space-md);
  grid-row: 1;
  grid-gap: 1rem;
  min-height: 72px;
  justify-content: flex-end;
  align-items: center;
}

.logo-tile__image-fill {  
  fill: var(--color-coolgrey-500);
}

.logo-tile__image-fill--stark {  
  fill: var(--color-coolgrey-600);
}

.logo-tile__image-fill--inverted {
  fill: var(--color-coolgrey-50);
}

.logo-tile__image--hellomeet {
  stop-color: var(--color-coolgrey-500);
}

.logo-svg__background {
  fill: hsl(218 15% 40% / 1);
}

.logo-svg__background-gradient {
  fill: hsl(218 15% 40% / 1); 
}

.logo-svg__foreground-inverted {
  fill: hsl(0 0% 100%);
}

.logo-svg__foreground {
  fill: hsl(0 0% 100%);
}

.list--secondary {
  margin: var(--space-sm) 0 var(--space-lg) 0;
  list-style: none;
  padding: 0;
  font-family: var(--font-fam-sans);
  font-weight: var(--font-weight-light);
  max-width: 72ch;
  letter-spacing: 0.4px;
  text-wrap-style: balance;
}

.section__list--highlight .list--secondary {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: var(--space-sm);
  margin: 0 -0.5rem;
  /* background-color: rgba(var(--color-coolgrey-500-rgb), 0.1); */
  /* background-color: var(--color-coolgrey-300); */
  /* background-color: rgba(var(--color-coolgrey-300-rgb), 0.5);  */
  /* background-image: linear-gradient(rgba(var(--color-coolgrey-300-rgb), 1.25), rgba(var(--color-coolgrey-300-rgb), 0)); */
  background-image: linear-gradient(165deg, rgba(var(--color-coolgrey-300-rgb), 0.5), rgba(var(--color-coolgrey-300-rgb), 0));
}

.list__border-left {
  border-left: 4px solid rgba(var(--color-coolgrey-300-rgb), 0.4);
  padding: 0 0 0 var(--space-md);
}

.list__item--spacing {
  padding-bottom: var(--sm);
}

.top-link {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 24px;
  right: 16px;
  text-align: center;
  
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--color-white);
  border: 1px solid 1px solid var(--color-coolgrey-200);

  box-shadow: 0 9px 16px -5px hsl(0 0% 42% / 0.2), 0 5px 6px -2px hsl(0 0% 42% / 0.3);
  background-image: none;

  transition: all 800ms var(--spring-easing-bounce);
}

.top-link:hover .top-link__icon {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  opacity: 0.8;
}

.top-link:hover {
  background-image: none;
  box-shadow: 0 10px 24px -6px hsl(0 0% 42% / 0.4), 0 6px 14px -3px hsl(0 0% 42% / 0.5);
  background-color: var(--color-coolgrey-50);
}

.top-link:active {
  transform: var(--scale-active--elevated);
  -webkit-transform: var(--scale-active--elevated);
  -moz-transform: var(--scale-active--elevated);
  -o-transform: var(--scale-active--elevated);
}

.top-link__icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url(../img/icon-arrow--top.png) no-repeat;
  background: url(../img/icon-arrow--top.svg) no-repeat;
  background-position: center center;
  padding-top: 49px;
  opacity: 0.4;
}

/* .top-link__icon:hover {
  transform: translateY(-1px);
  opacity: 0.8;
} */

.footer {
  padding: var(--space-lg) 0 var(--space-xl) 0;
}

.footer__items {
  margin: 0;
}

.footer__item {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-fam-mono);
  font-size: var(--font-size-sm);
  color: hsl(0 0% 50%);
  color: var(--color-coolgrey-700);
  color: hsl(218 15% 50% / 1);

  display: block;
}

.footer__item .small-icon {
  font-size: var(--font-size-md);
}



/* -------- SETTINGS - DARK MODE -------- */

@media (prefers-color-scheme: dark) {

  /* -------- BASE - DARK MODE -------- */

  body,
  body:has(.megahover) {
    color: var(--dark-text-base);
    background-color: var(--dark-background-base);
  }

  body:has(.megahover:hover) {
    background-color: var(--color-greenyellow-700);
  }

  mark {
    color: var(--dark-text-stark);
    background-color: rgba(var(--dark-text-mark), 0.2);
  }

  a {
    color: var(--color-white);
  }

  ul {
    color: var(---dark-text-400);
  }

  ul a {
    color: var(---dark-text-base);
  }

  .text-highlight {
    color: var(--dark-text-xstark);
  }

  .text-caption--centered--link {
    font-size: var(--font-size-md);
    line-height: 1.25;
    color: rgba(var(--color-coolgrey-300-rgb), 0.6);
  }



  /* -------- ELEMENTS AND COMPONENTS - DARK MODE -------- */

  /* .header:before {
    background-color: hsl(218 15% 12%);
    border-bottom: 1px solid hsl(180 14% 14%);
  } */

  .title__name {
    color: var(--dark-text-base);
  }
  
  .title__job {
    color: rgba(var(--color-coolgrey-300-rgb), 0.6);
  }

  .text-emphasized {
    color: var(--dark-text-base);
  }
  
  .article-intro {
    color: var(--dark-text-base);
  }
  
  .article-intro a:hover {
    color: var(--color-greenyellow-200);
    text-shadow: -0.08em 0 rgb(255 0 0 ),  0.08em 0 rgb(0 255 255);
    text-shadow: 0 0 0 rgba(255 255 0 / 0.9), 0.07em 0 0 rgba(255 0 255 / 0.4), -0.07em 0 0 rgba(0 255 255 / 0.5);
    mix-blend-mode: screen;
    color: transparent;
  }
  
  .article-intro.article-intro__heading {
    color: var(--dark-text-300);
  }

  .article-intro__heading a:hover {
    color: var(--color-greenyellow-400);
  }

  .article-intro > .text-highlight {
    color: var(--text-white);
  }

  .article-paragraph a:hover {
    background-color: var(--color-greenyellow-700);
  }

  a.button__email:hover {
    background-color: var(--dark-button-email-hover);
    border: 1px solid var(--dark-button-email-hover);
    box-shadow: 0 9px 16px -6px oklch(0 0 0 / 0.3), 0 5px 6px -3px oklch(0 0 0 / 0.4);
  }
  
  a.button__email:active {
    background-color: var(--dark-button-email-hover);
    border: 1px solid var(--dark-button-email-hover);
  }
  
  a.icon__twitter:hover {
    background-color: var(--dark-button-twitter-hover);
    box-shadow: 0 9px 16px -6px oklch(0 0 0 / 0.3), 0 5px 6px -3px oklch(0 0 0 / 0.4);
  }
  
  a.icon__twitter:active {
    background-color: var(--dark-button-twitter-hover);
  }
  
  a.icon__linkedin:hover {
    background-color: var(--dark-button-linkedin-hover);
    box-shadow: 0 9px 16px -6px oklch(0 0 0 / 0.3), 0 5px 6px -3px oklch(0 0 0 / 0.4);
  }
  
  a.icon__linkedin:active {
    background-color: var(--dark-button-linkedin-hover);
  }

  .section-header {
    color: rgba(var(--color-coolgrey-300-rgb), 0.6);
  }

  .section-header a {
    color: var(--dark-text-400);
  }
  
  .section-header__sub {
    color: var(--dark-text-500);
  }

  .section__clients {
    border-top: 0.5px solid rgba(var(--color-coolgrey-500-rgb), 0.3);
  }
  
  .section__list {
    background-color: var(--color-coolgrey-900);
  }

  .wrapper.section__list--highlight {
    background-image: linear-gradient(165deg, rgba(var(--color-coolgrey-500-rgb), 0.15), rgba(var(--color-coolgrey-500-rgb), 0));
  }

  .section__list--highlight .list--secondary {
    background-image: linear-gradient(165deg, rgba(var(--color-coolgrey-500-rgb), 0.15), rgba(var(--color-coolgrey-300-rgb), 0));
  }

  .list__border-left {
    border-left: 4px solid var(--color-coolgrey-800);
  }

  .logo-tile {
    box-shadow: 0 0 0 1px var(--color-coolgrey-800);
  }

  .logo-tile:hover {
    background-color: rgba(var(--color-coolgrey-500-rgb), 0.05);
    mix-blend-mode: lighten;
  }

  .logo-tile__image-fill {
    fill: var(--color-coolgrey-300);
  }

  .logo-tile__image-fill--stark {
    fill: var(--color-coolgrey-100);
  }

  .logo-tile__image-fill--inverted {
    fill: var(--color-coolgrey-800);
  }

  .logo-tile__image--hellomeet {
    stop-color: var(--color-coolgrey-50);
  }

  .logo-svg__background {
    fill: hsl(0 0% 100%);
  }

  .logo-svg__background-gradient {
    fill: hsl(0 0% 100%);
  }

  .logo-svg__foreground-inverted {
    fill: hsl(0 0% 0%);
  }

  .logo-svg__foreground {
    fill: hsl(0 0% 0%);
  }

  .footer {
    border-top: 0.5px solid rgba(var(--color-coolgrey-500-rgb), 0.15);
  }
}